<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.np.wearound.mappers.FeedMapper">
	
	<!--구매목록 -->
	<select id="feedList" resultType="com.np.wearound.dto.FeedDTO">
		<![CDATA[ 
			SELECT f.feedcode   AS feedcode
		        , u.email   AS userid
		        , f.feedtitle   AS feedtitle
		        , u.name   AS username
		        , f.feedcontent     AS feedcontent
		        , f.feedimg     AS feedimg
		        , f.feedregdate     AS feedregdate
		        , f.comment_cnt     AS comment_cnt
        		, (SELECT Count(*) FROM good_tbl WHERE feedcode = f.feedcode) AS good_count
		  	 FROM feed_tbl f
		     JOIN user_tbl u ON f.userno = u.userno
	    LEFT JOIN good_tbl g ON f.feedcode = g.feedcode
		]]>
	</select>
	
	<!--무한스크롤 페이징 -->
	<select id="feedListScroll" parameterType="Map" resultType="com.np.wearound.dto.FeedDTO">
		<![CDATA[ 
			SELECT * 
			FROM (
			    SELECT f.feedcode AS feedcode,
			           u.email AS userid,
			           f.feedtitle AS feedtitle,
			           f.feedcontent AS feedcontent,
			           f.feedimg AS feedimg,
			           u.name   AS username,
			           f.feedregdate AS feedregdate,
			           f.comment_cnt AS comment_cnt,
			           (SELECT Count(*) FROM good_tbl WHERE feedcode = f.feedcode) AS good_count,
			           ROW_NUMBER() OVER (ORDER BY f.feedregdate DESC) AS rnum
				FROM feed_tbl f
		  		JOIN user_tbl u ON f.userno = u.userno
	 	   LEFT JOIN good_tbl g ON f.feedcode = g.feedcode
			) 
			WHERE rnum BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="feedListById" parameterType="String" resultType="com.np.wearound.dto.FeedDTO">
		<![CDATA[ 
		SELECT f.feedcode   AS feedcode
	        , u.email   AS userid
	        , f.feedtitle   AS feedtitle
	        , f.feedcontent     AS feedcontent
	        , f.feedimg     AS feedimg
	        , u.name     AS username
	        , f.feedregdate     AS feedregdate
	        , f.comment_cnt     AS comment_cnt
        	, (SELECT Count(*) FROM good_tbl WHERE feedcode = f.feedcode) AS good_count
		  FROM feed_tbl f
		  JOIN user_tbl u ON f.userno = u.userno
	 LEFT JOIN good_tbl g ON f.feedcode = g.feedcode
		]]>
	</select>
	
	<!-- 좋아요 체크여부 확인 -->
	<select id="goodChk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		FROM good_tbl
		WHERE userno = #{userno}
		AND feedcode = #{feedcode}
	</select>
	
	
	<!-- 피드페이지 유저정보, 게시물 수 - 팔로워수 - 팔로잉수 -->
	<select id="userInfo" parameterType="String" resultType="com.np.wearound.dto.FeedUserInfoDTO">
		<![CDATA[
		SELECT 	COUNT(DISTINCT f.feedcode) AS feedCnt,
				COUNT(DISTINCT ff.follower) AS followerCnt,
       			COUNT(DISTINCT ff.following) AS followingCnt
		FROM user_tbl u
		LEFT JOIN feed_tbl f ON u.userno = f.userno
		LEFT JOIN follow_tbl ff ON u.name = ff.following
		WHERE u.email = #{userid}
		GROUP BY u.name
		]]>
	</select>
	
	<!-- 팔로우 ,팔로잉 관련 Select문 -->
	
		
	<select id="isFollow" parameterType="map" resultType="com.np.wearound.entities.Follow">
		select * from follow_tbl
		where following=#{following} and follower=#{follower}
	</select>
	
	<select id="feedByIdCnt" parameterType="String" resultType="int">
		SELECT count(*)
		FROM feed_tbl f, user_tbl u
		WHERE f.userno = u.userno
		and u.name=#{username}
	</select>
	
	<select id="followerByIdCnt" parameterType="String" resultType="int">
		select count(*) from follow_tbl
		where follower=#{follower}
	</select>
	
	<select id="followingByIdCnt" parameterType="String" resultType="int">
		select count(*) from follow_tbl
		where following=#{following}
	</select>
	
	
</mapper>     